@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --cor-principal: #f0f7f9; /* Um creme suave para harmonizar com o fundo */
    --cor-secundaria: #e89dbd; /* Rosa suave ligeiramente mais claro */
    --cor-terciaria: #1f636c; /* Verde-azulado ajustado para contraste */
    --cor-fundo: #c2cbd2; /* Cinza claro mais neutro */
    --cor-texto: #4a4a4a; /* Um tom de cinza escuro confortável */
}

html, body {
    background-color: var(--cor-fundo);
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: relative;
    animation: gradientAnimation 10s ease infinite;
    background-size: 400% 400%;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/tools.png');
    background-size: 200px 200px;
    opacity: 0.2;
    animation: moverFerramentas 30s linear infinite;
    z-index: 1;
}

@keyframes moverFerramentas {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 500px;
    }
}

@keyframes gradientAnimation {
    0% {
        background-color: #f0f7f9;
    }
    25% {
        background-color: #e89dbd;
    }
    50% {
        background-color: #1f636c;
    }
    75% {
        background-color: #c2cbd2;
    }
    100% {
        background-color: #f0f7f9;
    }
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container-background {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%; /* Ajuste o tamanho do card aqui */
    height: auto; /* Permita que o card ajuste a altura conforme necessário */
    background-color: var(--cor-principal);
    border-radius: 13px;
    z-index: 4;
    border: 3px solid var(--cor-secundaria);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
                0 16px 32px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.logoMec {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-image: url('../images/logoMec.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid var(--cor-secundaria);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-text {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-texto);
    margin-bottom: 10px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço entre os botões */
    width: 100%;
    margin-bottom: 20px;
    margin-left: 25px;
}

.textInput{
    display: block;
    margin-bottom: 5px;
    margin-left: 4px;
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-texto);
}

.inputLogin{
  width: 500px;
  height: 45px;
  padding-left: 10px;
  border-radius: 10px;
  border: 2px solid var(--cor-secundaria);
  background-color: var(--cor-fundo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  color: var(--cor-texto);
  transition: border-color 0.3s ease;
}
.buttonLoginWeb {
    background-color: var(--cor-terciaria);
    border: none;
    border-radius: 7px;
    color: var(--cor-principal);
    margin-top: 15px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

/* Responsividade */
@media (max-width: 768px) {
    .container-background {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .container-background {
        width: 100%;
    }
}
